{% load i18n %}{% load supdem_extras %}{% load staticfiles %}
<ul class="items">
	{% for item in items %}
	<li>
		<a href="{{ item.url }}">
			{% if item.image %}<div class="imgwrap">
{% comment %}
See http://cloudinary.com/documentation/image_transformations the ways
you can request the photos. There are many options. Like different file sizes, rotate,
rounded corners, crop, fill, limit, pad, sepia and many other effects
{% endcomment %}
			<img src="https://res.cloudinary.com/saywelcome/image/upload/c_fill,h_180,w_240/{{ item.image }}.jpg" />
			</div>{% endif %}
			<div class="factwrap">

			<h3 lang="en" dir="ltr">{{ item.title }}</h3>
			<ul class="factoids"><li>
				{% if item.is_offer %}
					{% blocktrans with username=item.poster.username %}Offered by <strong>{{ username }}</strong>{% endblocktrans %}
				{% else %}
					{% blocktrans with username=item.poster.username %}Requested by <strong>{{ username }}</strong>{% endblocktrans %}
				{% endif %}
			</li>
			<li> in <strong>{% listtrans "cat" item.category %}</strong> </li>

			{% if item.questionoption_set.count %}{% for qo in item.questionoption_set.all %}
			<li class="question"><strong>{% listtrans "catqueopt" qo.answer %}</strong></li>{% endfor %}</ul>
			{% endif %}

		</div>
		</a>
	</li>
		{% endfor %}
</ul>
