{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}
{% block title %}{% trans 'About us' %} –{% endblock title %}
{% block metadesc %}{{ item.title }} – {% endblock metadesc %}
{% block bodyclass %}about{% endblock bodyclass %}

{% block content %}
<div class="intro">
  <div class="wrap">
    <h1>Refugive.com: {% trans 'a marketplace for refugees and neighbours' %}</h1>
  </div>
</div>
<hr>
<div class="main itempage">
  <div class="wrap">
    <section>
      <p>
      {% blocktrans %}A new website for and by the neighbourhood: Refugive.com, a free marketplace for both refugees and neighbours. Our site wants to match the wishes of refugees to what neighbours are willing to share. Clothes for children and adults of course, but also books, games and social contacts. How about cooking a meal together, or doing sports?{% endblocktrans %}</p>
      <p>
      {% blocktrans %}Are you in need of something - or: do you have clothes, things or time to spare? Have a look around on Refugive.com and meet your new neighbours! If you are a refugee, it is free to advertise your needs and wishes - but you can only reply to two offers made by locals at a time. Of course ads are free for locals as well, but offers should only be made within walking distance of the refugee center. And no money should trade hands.{% endblocktrans %}</p>
      <p>
      {% blocktrans %}Refugive was started by a group of people in Bezuidenhout, The Hague wanting to help refugees in their neighbourhood. Refugive.com is a non profit website.{% endblocktrans %}</p>
      <p>
      {% blocktrans %}Best regards,<br>Jasper, Jeroen, Krista, Maaike and Tijs{% endblocktrans %}</p>
    </section>
  </div>
</div>
{% endblock content %}
