{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}

{% block content %}
<div class="main">
  <div class="wrap">
    <h1>{% if usertype == "local" %}{% trans 'What would you like to offer?' %}{% elif usertype == "refugee" %}{% trans 'What are you looking for?' %}{% endif %}</h1>
<p>{% trans 'Please write your posting in English, if you can.' %}</p>
<!-- see https://docs.djangoproject.com/en/1.8/topics/forms/#rendering-fields-manually on how to handle form elements -->
<form enctype="multipart/form-data" action="{% url 'additem' usertype=usertype centreslug=centre.slug %}?catid={{ category.id }}" method="post" class="posting">
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.timestamp.errors }}
{{ form.timestamp }}

<p>{% trans 'Category:' %} <strong>{% listtrans "cat" category %}</strong></p>
<fieldset>
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}
</fieldset>

	{% for eq in extra_questions %}
<fieldset>
		<label for="catque-{{ eq.id }}">{% listtrans "catque" eq %}:</label>
			<select name="catque-{{ eq.id }}" id="catque-{{ eq.id }}">
				<option value="None">Select</option>
				<option value="None">------------</option>
				{% for option in eq.categoryquestionoption_set.all %}
			<option value="{{ option.id }}">{% listtrans "catqueopt" option %}</option>
			{% endfor %}</select>
</fieldset>
	{% endfor %}

<fieldset>
  <label for="{{ form.description.id_for_label }}">{% trans 'Describe this item:' %}</label>
    {{ form.description }}
    {{ form.description.errors }}
</fieldset>

<fieldset>
    {{ form.photo.label_tag }}
    {{ form.photo }}
    {{ form.photo.errors }}
</fieldset>

{% if user.is_authenticated %}
<h2>{% trans 'Your account' %}</h2>
<p>{% trans 'Your username:' %} <strong>{{ user.username }}</strong><br>
{% trans 'Your email address:' %} <strong>{{ user.email }}</strong>
</p>

{% else %}
<div class="userdetailswrap">
<div><h2>{% trans 'Are you a new user?' %}</h2>
<fieldset>
    <label for="{{ form.new_email.id_for_label }}">{% trans 'Your email address (not shown on the website):' %}</label>
    {{ form.new_email }}
        {{ form.new_email.errors }}
</fieldset>
<fieldset>
    <label for="{{ form.password.id_for_label }}">{% trans 'Choose a password:' %}</label>
    {{ form.new_password }}
        {{ form.new_password.errors }}
</fieldset>
<fieldset>
    <label for="{{ form.new_username.id_for_label }}">{% trans 'Choose a username (visible on the website):' %}</label>
    {{ form.new_username }}
        {{ form.new_username.errors }}
</fieldset></div>
<div><h2>{% trans 'Or do you have an account?' %}</h2>
<fieldset>
    <label for="{{ form.existing_email.id_for_label }}">{% trans 'Your email address:' %}</label>
    {{ form.existing_email }}
    {{ form.existing_email.errors }}
</fieldset>
<fieldset>
    <label for="{{ form.existing_password.id_for_label }}">{% trans 'Your password:' %}</label>
    {{ form.existing_password }}
    {{ form.existing_password.errors }}
</fieldset>
</div></div>
{% endif %}

<input type="submit" value="{% trans 'Submit posting' %}" class="button" />
</form>
</div>
</div>

{% endblock content %}
