<!DOCTYPE html>
{% load i18n %}
{% load supdem_extras %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}">
<!-- Version two point oh YES -->
<head>
  <title>Refugive.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="test" content="yo">
  <meta name="description" content="{% trans 'A refugee may need something. A local might have a spare item. Use this website to get in touch.' %}">
  <meta property="og:title" content="Refugive.com" />
  <meta property="og:description" content="{% block metadesc %}{% endblock %}{% trans 'A refugee may need something. A local might have a spare item. Use this website to get in touch.' %}" />
  <meta property="og:url" content="http://www.refugive.com" />
<!--
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css"/>
-->
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="/static/vendor/jquery.js"></script>
<script src="/static/css/bootstrap.js"></script>

<link rel="stylesheet" href="/static/css/custom.css" type="text/css"/>

	<!-- Google Analytics tracking code -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-70754571-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<style>
	body {
	    direction: {% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %};
	}
	</style>
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %} v2">

    <nav id="myNavbar" class="navbar navbar-default navbar inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Refugive.com</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="nav navbar-nav">
        <li><a href="/static/index.html#/help">{% trans 'Help' %}</a></li>
        <li><a href="/static/index.html" class="logout">{% trans 'Login' %}</a></li>
        <li><a href="/adduser" class="logout">{% trans 'Register' %}</a></li>
    </ul>

      </div>
    </div>
  </nav>

  <!-- The following code shows the alerts. Like 'new item created', 'claim removed' and so on-->
  <div class="container-fluid">
  {% block content %}{% endblock %}
  </div>
  <hr>
  <footer>
    <div class="wrap">
      <div class="opm">
        <p>{% trans 'What is Refugive.com and how does it work?' %} <a href="/static/index.html#/about">{% trans 'About us' %}</a></p>
        <div>
        	{% blocktrans with beginlink='<a href="https://docs.google.com/forms/d/1i1wh3T_YJY1ts8wx7yeRCALiPjtDDbrabWn5tuvx1Xg/viewform">' endlink="</a>" %}Tips, suggestions, complaints or questions? Please {{ beginlink }}give us feedback{{ endlink }}{% endblocktrans %}
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
