{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}

{% block title %}Refugive FAQ{% endblock title %}
{% block bodyclass %}faq{% endblock bodyclass %}

{% block content %}
<div class="main itempage">
  <div class="wrap">
    <section>
       <h2>{% trans 'What is this?' %}</h2>
       <p>{% trans 'We want to help the refugees in our neighbourhood. As a refugee, you can post your needs and wishes on this website, and locals can reply. Locals can offer both goods (e.g. clothes, toys, a suitcase, toiletries) and services. Or: an invitation to dinner or a fun activity.' %}</p>

       <h2>{% trans 'How does it work?' %}</h2>
       <p>{% trans "For refugees: find the centre you're staying at. If you like any of the postings that are being offered, click the button that says 'Yes, please' and claim it. The author can then contact you about the next steps. Do you need anything else? Add a posting yourself and wait for a local to get back to you." %}</p>
       <p>{% trans "For locals: find the centre in your area. Then, either reply to a posting by a refugee who is requesting something, or create a posting yourself with something you can spare." %}</p>
       <p>{% trans "Whenever somebody replies to your post, you will get an email notification. Further arrangements can be made by exchanging messages through the website: pick a date, a place to meet etc. Make sure to meet at a place at walking distance from the centre." %}</p>

      <h2>{% trans "What are the rules?" %}</h2>
      <p>{% trans "This site was created only for refugees in 'AZC's' (refugee centres) and the locals from the surrounding area. Locals are not allowed to ask for money when offering things and services. Only refugees can claim offers. Locals cannot ask for goods or services and refugees cannot offer goods or services. And of course nobody can ask for or offer anything illegal." %}</p>

      <h2>{% trans "Frequently asked questions" %}</h2>
      <dl>
        <dt>{% trans "And my username?" %}</dt>
        <dd>{% trans "Your username is public. If you add a post, everybody can see your username." %}</dd>

        <!-- Deze lijkt mij niet nodig
        Jasper: I think some redundancy is not bad. Some people like to read manuals, other like
        to read the FAQ. But I do think we need a way to make it easy to scan through the questions.
        Maybe by adding categories. Or/and by hiding the answers.
         -->
        <dt>{% trans "What should my message contain when I want to react?" %}</dt>
        <dd>{% trans "It is up to you to make contact with the person you are reacting to. So it might be helpful to discuss when and where it would be convenient for you to meet. It is up to you to decide if and when you want to give your contact details to the person you are communicating with." %}</dd>

        <!-- Deze ook niet, we kunnen het evt in het formulier zelf zetten -->
        <dt>{% trans "What should my description contain when I want to add a post?" %}</dt>
        <dd>{% trans "The more details you can add, the better. If you offere something, then please give as much as detailed possible about the condition of the product or the details of the service. A picture of a product may say more than a 1000 words. If you request something, then it might helpful to mention all aspects of the product or service that are relevant for you." %}</dd>

        <!-- Dit staat nu min of meer in de handleiding -->
        <dt>{% trans "How will I receive the items?" %}</dt>
        <dd>{% trans "No external parties (e.g. the centre, COA, Red Cross, Vluchtelingenwerk and Refugive.com) are involved. It is up to you and the person you are contacting to contact each other and set a meeting place and time. You can use Refugive to exchanges messages, so you can get to know the person you are contacting before sharing your contact details." %}</dd>

        <dt>{% trans "I am a bit embarrassed about asking for help. What should I do?" %}</dt>
        <dd>{% trans "The locals who visit this website do that because they want to support refugees in their neighbourhood and make them feel welcome. For many locals it is hard to imagine what the people in the centres need. By adding a posting with an item or service that would really be useful to you, the locals can assist you much better. In other words, help locals help you by telling them what you need." %}</dd>

        <dt>{% trans "I reacted to a post, but I didn't hear anything back. What should I do?" %}</dt>
        <dd>{% trans "You can send a new message to that person by going to the detail page for the post you reacted to. If you still don't hear anything back, you can reply to another item." %}</dd>

        <dt>{% trans "How can I help to make this website a success?" %}</td>
        <dd>{% trans "The more people know about refugive, the more effective the website will be. So you help us a lot by spreading the word. Share our initiative on social media and tell your friends! Furthermore it would help if you add a post. The more items are on this website, the more useful it will become for its users. Both for refugees and locals." %}</dd>

        <dt>{% trans "Why don't I see my post in the list with posts?" %}</td>
        <dd>{% trans "It could be that you are looking at the wrong list. If you are a local, you will only see requests by refugees. If you are a refugee, you will only see offers by locals. It could also be that somebody replied to your post. In that case, we hide it for other people to make sure not too many people reply to the same posting. Or it could be that your item is expired." %}</dd>
      </dl>
    </section>
  </div>
</div>
{% endblock content %}
