    <form action="/nl/image" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="id_title">Title:</label>
      <input id="id_title" type="text" name="title" maxlength="100" required /><br>
      <label for="id_description">Description:</label>
      <textarea id="id_description" name="description" cols="50"></textarea><br>
      <label for="id_image">Picture:</label>
      <input type="file" class="cloudinary-fileupload" data-cloudinary-field="image_upload" data-form-data="<%=encodeURI(JSON.stringify(data))%>" name="photo">
      <input type="hidden" id="id_owner" name="owner" value="{{owner}}">
      {% if categories %}
        <label for="id_description">Category: </label>
        <select id='id_category' name='category'>
          <option value=""></option>
          {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      {% endif %}
      <br>
      <a href="/" class="btn">Cancel</a>
      <button type="submit" class="btn btn-dafault">Create</button>
    </form>
