{% extends "supdem/base.html" %}
{% load i18n %}
{% block content %}
<button disabled class="btn btn-default">{% trans 'Add An Item' %}</button>
{% for item in items %}
<hr>
<div class="items">
  <div>
      <h3 dir="ltr">{{item.title}}</h3>
      {% if item.image != '' %}
        <div class="imgwrap">
          <img src="https://res.cloudinary.com/dvrrqjzay/image/upload/c_fill,h_300,w_400/{{item.image}}.jpg">
        </div>
      {% endif %}
      <div class="factwrap">
        <div class="factoids">
          <div>
            {% trans 'Category' %} <strong>{% trans item.category.name %}</strong>
          </div>
        </div>
      </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
