{% extends "supdem/base.html" %}
{% load i18n %}
{% block content %}
<div class="intro">
  <p>
    {% trans 'A refugee may need something.' %}
    {% trans 'A local may have a spare item.' %}
    {% trans 'You can use this website to get in touch with each other.' %}
  </p>
</div><br/>
<button disabled class="btn btn-default">{% trans 'Add An Item' %}</button>
{% for item in items %}
<hr>
<div class="items">
      <h3 dir="ltr">{{item.title}}</h3>
      {% if item.image != '' %}
        <div class="imgwrap">
          <img src="https://res.cloudinary.com/dvrrqjzay/image/upload/c_fill,h_300,w_400/{{item.image}}.jpg">
        </div>
      {% endif %}
      <div class="factwrap">
            {% trans 'Category' %} <strong>{% trans item.category.name %}</strong>
      </div>
</div>
{% endfor %}
{% endblock content %}
