<!DOCTYPE html>

<html lang="nl">
<!-- Version two point oh YES -->

<head>
  <title>Advertenties – Refugive in Bezuidenhout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="Een vluchteling heeft misschien iets nodig. Een buurtbewoner heeft misschien iets over. Gebruik deze website om met elkaar in contact te komen.">
  <meta property="og:title" content="Refugive Bezuidenhout" />
  <meta property="og:description" content="
Deze advertenties werden geplaatst door vluchtelingen – Een vluchteling heeft misschien iets nodig. Een buurtbewoner heeft misschien iets over. Gebruik deze website om met elkaar in contact te komen." />
  <meta property="og:url" content="http://www.refugive.com" />
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../static/supdem/css/basic.css" />

  <!-- Google Analytics tracking code -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-70754571-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>

<body class="v2 home">
  <header>
    <div class="wrap">
    <div class="lang">
      <div>
        <span class="change">Wissel taal:</span>
        <ul>
          <li>
            <strong>Nederlands</strong>
          </li>
          <li><a href="/en/local/bezuidenhout/">English</a></li>
          <li><a href="/ar/local/bezuidenhout/">العربيّة</a></li>
        </ul>
      </div>
      <div class="title">

          <h1><img src="../../static/supdem/img/logo-refugive.svg" width="200">
          <a class="place" href=""><span>Bezuidenhout</span></a>
          </h1>
          <nav>
            <ul>
              <li>
                <strong>Home</strong>
              </li>
            </ul>
          </nav>
        </div>
    </div>

      <div class="egoblock">
          <div class="login"><a href="#loginform" class="openform">Log in</a></div>
          <div class="ik">
        <span class="type">Ik ben buurtbewoner</span>
        <a href="/nl/?ignoreses=1" class="change" title="Nee, ik ben een vluchteling!">veranderen</a></div>
      </div>
</div>
  </header>
  <!-- The following code shows the alerts. Like 'new item created', 'claim removed' and so on-->
  <section class="listings main">
    <div class="intro">
      <div class="wrap">
        <p>Dag buurtbewoner! Deze dingen worden gevraagd door vluchtelingen die momenteel in Duinrell wonen. Misschien kun jij helpen?</p>
  <a href="#makead" class="button sec makead">Maak een advertentie</a>
      </div>

    </div>
    <div class="thelist">

      <div class="wrap">

        <!-- list with items -->


        <ul class="items">

          <li>
            <a href="/nl/local/bezuidenhout/item-9/">

              <div class="factwrap">

                <h3 lang="en" dir="ltr">Boots</h3>
                <ul class="factoids">
                  <li>

                    Requested by
                    <strong>Maaikerefugee</strong>

                  </li>
                  <li> in
                    <strong>Kinderkleding</strong>
                  </li>


                  <li class="question">
                    <strong>Jongen</strong>
                  </li>
                  <li class="question">
                    <strong>14 en ouder</strong>
                  </li>
                </ul>


              </div>
            </a>
          </li>

          <li>
            <a href="/nl/local/bezuidenhout/item-5/">

              <div class="factwrap">

                <h3 lang="en" dir="ltr">shampoo</h3>
                <ul class="factoids">
                  <li>

                    Requested by
                    <strong>maaikelocal</strong>

                  </li>
                  <li> in
                    <strong>Toiletartikelen</strong>
                  </li>



              </div>
            </a>
          </li>

          <li>
            <a href="/nl/local/bezuidenhout/item-4/">

              <div class="factwrap">

                <h3 lang="en" dir="ltr">Does somebody wants to play tennis with me?</h3>
                <ul class="factoids">
                  <li>

                    Requested by
                    <strong>jasper Cramwinckel</strong>

                  </li>
                  <li> in
                    <strong>Diensten en activiteiten</strong>
                  </li>


                  <li class="question">
                    <strong>Sporten</strong>
                  </li>
                </ul>


              </div>
            </a>
          </li>

          <li>
            <a href="/nl/local/bezuidenhout/item-2/">

              <div class="factwrap">

                <h3 lang="en" dir="ltr">trouwsers would be great</h3>
                <ul class="factoids">
                  <li>

                    Requested by
                    <strong>jasper Cramwinckel</strong>

                  </li>
                  <li> in
                    <strong>Kinderkleding</strong>
                  </li>


                  <li class="question">
                    <strong>Meisje</strong>
                  </li>
                  <li class="question">
                    <strong>10 en 11</strong>
                  </li>
                </ul>


              </div>
            </a>
          </li>

          <li>
            <a href="/nl/local/bezuidenhout/item-1/">

              <div class="factwrap">

                <h3 lang="en" dir="ltr">I am looking for a warm sweater</h3>
                <ul class="factoids">
                  <li>

                    Requested by
                    <strong>jasper Cramwinckel</strong>

                  </li>
                  <li> in
                    <strong>Kleding voor volwassenen</strong>
                  </li>


                  <li class="question">
                    <strong>Man</strong>
                  </li>
                  <li class="question">
                    <strong>XL</strong>
                  </li>
                </ul>


              </div>
            </a>
          </li>

          </ul>



          <div class="filter">

            <h2>Categorie</h2>
            <ul>


              <li><a href="/nl/local/bezuidenhout/?cf=1">Kinderkleding</a> (2)</li>


              <li><a href="/nl/local/bezuidenhout/?cf=2">Kleding voor volwassenen</a> (1)</li>


              <li><a href="/nl/local/bezuidenhout/?cf=5">Diensten en activiteiten</a> (1)</li>


              <li><a href="/nl/local/bezuidenhout/?cf=6">Toiletartikelen</a> (1)</li>

            </ul>


          </div>
      </div>
    </div>
    <div class="wrap">
      <div class="pagination">
        <span class="step-links">


          <span class="current">
            Pagina 1 / 1
          </span>


        </span>
      </div>

    </div>
  </section>



  <section class="new">
    <div class="wrap">
      <!-- button for adding an item -->

      <h2 id="makead">Wil je iets aan een vluchteling aanbieden?</h2>

      <p>De opvang in Bezuidenhout gaat sluiten, bijna alle vluchtelingen zijn al weg. Misschien wil je je advertentie plaatsen op de site voor Duinrell in Wassenaar? Die locatie blijft open.</p>


      <form action="/nl/local/bezuidenhout/additem/" method="get">
        <fieldset>
          <label for="catid">Kies een categorie</label>
          <select name="catid">
            <option value="1">Kinderkleding</option>

            <option value="2">Kleding voor volwassenen</option>

            <option value="4">Schoenen</option>

            <option value="5">Diensten en activiteiten</option>

            <option value="6">Toiletartikelen</option>

            <option value="7">Speelgoed, boeken etc.</option>

            <option value="8">Telecommunicatie</option>

            <option value="9">Anders</option>
          </select>
        </fieldset>
        <input type="submit" value="Maak een advertentie" class="button" />
      </form>
    </div>
  </section>






  <footer>
    <div class="wrap">
      <div class="opm">
        <p>Wat is Refugive en hoe werkt het? <a href="/nl/about/">Over ons</a></p>

        <div>
          <p>



            Woon je niet in of bij Bezuidenhout? Kies <a href="/nl/local/?ignoreses=1">een ander centrum</a>.
          </p>
          <p>Ben je een vluchteling? <a href="/nl/refugee/bezuidenhout/">Refugive voor vluchtelingen</a></p>

        </div>

        <div>
          Tips, suggesties, klachten of vragen? <a href="https://docs.google.com/forms/d/1i1wh3T_YJY1ts8wx7yeRCALiPjtDDbrabWn5tuvx1Xg/viewform">Geef ons feedback</a>
        </div>
      </div>

      <div id="loginform">
        <h2>Log in</h2>
        <form action="/nl/login/" method="post">
          <input type='hidden' name='csrfmiddlewaretoken' value='SmkYNhW6v3FXiEl7AiY7xSoYNFxIND0d' /> e-mail:
          <input maxlength="50" name="email" value="" type="text" /> wachtwoord:
          <input maxlength="50" name="password" type="password" />
          <input name="url" value="/nl/local/bezuidenhout/" type="hidden" />
          <input type="submit" value="Log in" class="button" />
          <a href="/nl/resetpassword/" class="reset">Ik ben mijn wachtwoord kwijt</a>
        </form>

        <p>
          <em>Zodra je een advertentie maakt of een reactie plaatst, wordt er automatisch een account voor je aangemaakt.</em>
        </p>
      </div>

    </div>
  </footer>



</body>

</html>
