{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}
{% block title %}{% trans 'Your page' %} –{% endblock title %}
{% block metadesc %}{% trans 'Your page' %} – {% endblock metadesc %}
{% block content %}
<div class="main youritems">
  <div class="wrap">
<h1>{% trans 'Your items' %}</h1>


<!-- list with reactions if logged in -->
<section class="listings">
<h2>{% trans 'Your messages' %}</h2>
{% if dialogues.count %}
<ul class="items">
	{% for dialogue in dialogues %}
	<li>
		<a href="{% url 'item' usertype=dialogue.item.for_usertype centreslug=dialogue.item.centre.slug itemid=dialogue.item.id %}">
		{% if item.image %}	<div class="imgwrap">
				<img src="{% static 'supdem/img/laarsjes-s.jpg' %}">
			</div>{% endif %}
		<div class="factwrap">
			<h3>{{ dialogue.item.title }}</h3>
			<p class="cat">{% listtrans "cat" dialogue.item.category %}</p>
      <p class="user">{% trans 'Posted by:' %} <strong>{{ dialogue.item.poster.username }}</strong></p>
		</div>
		</a>
	</li>
		{% endfor %}
</ul>
{% else %} <p><em>{% trans 'You have not yet replied to any postings.' %}</em></p>
{% endif %}
</section>

<!-- list with added items if logged in -->
<section class="listings">
<h2>{% trans 'Your postings' %}</h2>
{% if items.paginator.count %}
{% include "supdem/inc/itemlist.html" %}
{% else %} <p><em>{% trans 'You have not yet added any postings.' %}</em></p>
{% endif %}
</section>
</div>

</div>
{% endblock content %}
