{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}

{% block content %}
<div class="main form">
  <div class="wrap">
<h1>{% trans 'So you want to change your password?' %}</h1>



<p>{% trans 'Enter your new password here.' %}</p>

<form action="{% url 'newpassword' %}?key={{ request.GET.key }}" method="post">
{% csrf_token %}
{{ form.non_field_errors }}

<fieldset>
    {{ form.password.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}
</fieldset>


<input type="submit" value="{% trans 'Update password' %}" class="button" />
</form>
</div></div>

{% endblock content %}
