<!-- Poster for refugees -->
<h1>{% trans 'Do you need anything? Go to: www.refugive.com' %}</h1>
<p>{% trans 'Here you can find things your new neighbours are offering for free – and you can ask for something yourself. We would like to help!' %}</p>
<p>{% trans 'Clothes – Shoes – Toiletries – Toys – Lessons – Social activities – Share a meal etc.' %}</p>
<p>{% trans 'Refugive.com was created by a couple of neighbours from Den Haag. Can’t find what you need? New items are added every day. And don’t hesitate to add a posting yourself!' %}</p>
