{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}

{% block content %}
<div class="main form">
  <div class="wrap">
<h1>{% trans 'So you forgot your password?' %}</h1>
<p>{% trans 'Do not worry! Fill in your email address below, and we will send you a link to reset your password.' %}

{% if unknown_email %}
<p><strong>{% trans 'Sorry, there is no account with this email address.' %}</strong></p>
{% endif %}


<form action="{% url 'resetpassword' %}" method="post">
{% csrf_token %}
{{ form.non_field_errors }}

<fieldset>
    {{ form.email.errors }}
    {{ form.email.label_tag }}
    {{ form.email }}
</fieldset>

<input type="submit" value="{% trans 'Reset password' %}" class="button" />
</form>
</div>
</div>

{% endblock content %}
