{% extends "supdem/base.html" %}{% load i18n %}{% load supdem_extras %}{% load staticfiles %}

{% block content %}
<div class="main form">
  <div class="wrap">
    <h1>{% trans 'So you forgot your password?' %}</h1>
    <p>{% trans 'Do not worry! Fill in your email address below, and we will send you a link to reset your password.' %}

    {% if unknown_email %}
    <p><strong>{% trans 'Sorry, there is no account with this email address.' %}</strong></p>
    {% endif %}


    <form action="{% url 'resetpassword' %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <fieldset>
          {{ form.email.errors }}
          <label for="id_email">E-mail:</label>
          {{ form.email }}
      </fieldset>
      <a href="/" class="btn">Cancel</a>
      <input type="submit" value="{% trans 'Reset password' %}" class="btn btn-dafault" />
    </form>
  </div>
</div>

{% endblock content %}
